<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>">
  <title><%= @title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <meta property="og:title" content="<%=@title%>" />
  <meta property="og:type" content="company" />
  <meta property="og:site_name" content="site_name" />
  <meta property="og:url" content="http://site_url" />
  <meta property="og:image" content="null" />
  <meta property="og:description" content="<%=@description%>" />

  <link rel="stylesheet" href="<%= stylesheet_path('vendor') %>" media="all">
  <link rel="stylesheet" href="<%= stylesheet_path('style') %>" media="all">

  <script src="<%= javascript_path('modernizr') %>"></script>
</head>
<body data-spy="scroll" data-target=".navbar">
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <%=yield%>

  <footer class='container'>
    <div class='row'>
      <div class='span12'>
        Footer.
      </div>
    </div>
  </footer>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'></script>
  <script src='<%= javascript_path('vendor') %>'></script>
  <script src='<%= javascript_path('app') %>'></script>
  <style type="text/css">
  </style>
</body>
</html>
